<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minB CRM</title>
    <style>
        @import url("../static/css/details.css");
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <table>
        <caption>&#10047; {% block details_table_caption %} {% endblock %} &#10047;</caption>
        {% block details_table_contents %} 

        <!-- <thead>
            <tr>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for detail in details %}
                    {%for item in detail%}
                        <td>{{item}}</td>
                    {%endfor%}
                {%endfor%}
            </tr>
        </tbody> -->

        {% endblock %}
    </table>

    {% block details_option %} {% endblock %}

    <!-- <center><a href="/">back to list</a></center> -->
    <!-- <center><a href="javascript:history.back()">back to list</a></center> -->
    <center><button onclick="window.history.back()">back to list</button></center>
    
</body>
</html>