{% extends 'details_base.html' %}
{% block details_table_caption %} 상품주문정보 {% endblock %}

{% block details_table_contents %} 

    <thead>
        <tr>
            {% for header in headers %}
                <!-- {%if header != "OrderAt"%}
                    <th>{{header}}</th>
                {%endif%} -->
                <th>{{header}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        
        {% for detail in details %}
            <tr>
                {%for item in detail%}
                    {%if item==detail[1] %}
                        <td><a href="/orderitem/{{detail[1]}}">{{item}}</a></td>
                    {%elif item==detail[2]%}
                        <td><a href="/item/{{detail[2]}}">{{item}}</a></td>
                    {%else%}
                        <td>{{item}}</td>
                    {%endif%}
                {%endfor%}
            </tr>
        {%endfor%}
        
    </tbody>

{% endblock %}