{% extends 'details_base.html' %}
{% block details_table_caption %} 매장정보 {% endblock %}

{% block details_table_contents %} 
    <thead>
        <tr>
            {% for header in headers %}
                <!-- {%if header!="Id"%}
                    <th>{{header}}</th>
                {%endif%} -->
                <th>{{header}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for detail in details %}
            <tr>
                {%for item in detail%}
                    <!-- {%if item!=detail[0]%}
                        <td>{{item}}</td>
                    {%endif%} -->
                    <td>{{item}}</td>
                {%endfor%}
            </tr>
        {%endfor%}
    </tbody>
{% endblock %}

{% block details_option %} 
<table>
    <caption>&#10047; 월간매출액 &#10047;</caption>
    {% for option in options %}
        {%if option == options[0]%}
            <thead>
                <tr>
                    {% for header in option %}
                        <th>{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
        {%else%}
            <tbody>
                <tr>
                {%for item in option%}
                    {%if item == option[0]%}
                        <td><a href="">{{item}}</a></td>
                    {%else%}
                        <td>{{item}}</td>
                    {%endif%}
                {%endfor%}
                </tr>
            </tbody>
        {%endif%}
    {%endfor%}
</table>
{% endblock %}